[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
itsdangerous = "==2.0.0"
demjson = "*"
pexpect = "*"
werkzeug = "==2.1.2"
flask-sock = "*"
paramiko = "*"

[dev-packages]

[requires]
python_version = "3.9"
