[[source]]
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = false
name = "pypi"

[packages]
flask-migrate = "*"
itsdangerous = "==2.0.0"
demjson = "*"
pexpect = "*"
werkzeug = "==2.1.2"
flask-sock = "*"
paramiko = "*"
flask-login = "*"
setuptools = "==57.5.0"
flask = "*"
gunicorn = "*"
pycrypto = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.9"
